# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*

# VS Code or other IDEs
.vscode/
.idea/

# Playwright stuff
playwright/.cache/
playwright/report/
playwright/.playwright/

# Render logs (if you run locally)
*.log
venv/venv/
